<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>E-Commerce</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="header">
        <div class="brand">
          <a href="index.html">E-Commerce</a>
        </div>
        <div class="header-links">
          <a href="cart.html">Cart</a>
          <a href="signin">Sign-In</a>
        </div>
      </header>
      <main class="main">
        <div class="content">
          <ul class="products">
            <li>
                <div class="product">
                    <img src="images/d1.jpg" alt="product">
                    <div class="product-name">Slim Shirt</div>
                    <div class="product-brand">Polo</div>
                    <div class="price">$60</div>
                </div>
            </li>
          </ul>
        </div>
      </main>
      <footer class="footer">All rights reserved.</footer>
    </div>
  </body>
</html>
